<div class=" py-8 px-2 lg:p-12">
    <div class="px-2 lg:px-8 py-8 grid grid-cols-1 lg:space-y-0  space-y-4 lg:grid-cols-3 lg:space-x-8">
        <div class="bg-white rounded-lg p-4" data-aos="fade-up">
            <p class="font-fira font-bold text-gray "> Total Trades in Journal </p>
            <div class="flex items-center justify-between">
                <h1 class="text-4xl font-rubik font-bold text-blue tracking-wider"> {{displayData?.journalcount}} </h1>
                <div>
                    <i  class="fa fa-book text-2xl text-deep-blue" aria-hidden="true"></i> 
                </div>
            </div>
            <p class="text-gray-one text-[12px] font-fira font-bold"> 21% more than last month </p>
        </div>
        <div class="bg-[#f66dd6] rounded-lg p-4" data-aos="fade-down">
            <p class="font-fira font-bold text-gray text-blue"> Total Trades in Watchlist </p>
                <div class="flex items-center justify-between">
                    <h1 class="text-4xl font-rubik font-bold text-deep-blue tracking-wider"> {{displayData?.watchList}} </h1>
                    <div>
                        <i  class="fa fa-eye text-2xl text-deep-blue" aria-hidden="true"></i> 
                    </div>
                </div>
            <p class="text-gray-one text-[12px] font-fira font-bold"> 21% more than last month </p>
        </div>
        <div class="bg-blue rounded-lg p-4" data-aos="fade-up">
                <p class="font-fira font-bold text-gray text-white"> Profit in % </p>
                <div class="flex items-center justify-between">
                    <h1 class="text-4xl font-rubik font-bold text-white tracking-wider"> {{displayData?.profitInPercent}}% </h1>
                    <div>
                        <i  class="fa fa-eye text-2xl text-white" aria-hidden="true"></i> 
                    </div>
                </div>
                <p class="text-white text-[12px] font-fira font-bold"> 21% more than last month </p>
        </div>
    </div>
    
    <div class="flex flex-col lg:flex-row space-y-4 my-2 lg:space-x-4 ">
        <div class="w-full bg-white lg:w-[70%] rounded-lg px-2">
            <div class="flex justify-end mt-4">
                <div class=" w-[200px] md:w-[30%]">
                    <label for="" class="font-[400] text-[14px]  "> Filter By Month </label>
                    <div class="px-3 py-1 bg-[#ebe8e8] rounded-md text-base relative ">
                        <div class="flex justify-between items-center cursor-pointer" (click)="showMonth =! showMonth">
                            <div class="text-[14px] font-lato" >Select Month</div>
                            <img src="assets/images/arrow-down.svg" alt="">
                        </div>
                        <div *ngIf="showMonth" class="absolute top-[2.2rem] p-2 bg-[#ebe8e8] w-full left-0 rounded shadow-lg h-[200px] overflow-y-auto">
                            <div class="text-[grey] font-lato text-[12px] px-2 py-1 hover:bg-[white] rounded cursor-pointer" routerLink="{{month.routerLink}}" *ngFor="let month of months" (click)="viewMonthAnalysis(month)"> {{month.month}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <app-line-chart></app-line-chart>
        </div>
        <div class="w-full  bg-white lg:w-[30%] rounded-lg px-4">
            <app-bar-chart></app-bar-chart>
        </div>
    </div>

    <div class="bg-deep-blue rounded-md p-4 mt-5">
        <div class="text-white font-lato font-[500] text-xl md:text-[16px]"> Account Statistics</div>
        <div class="grid grid-cols-2 md:grid-cols-5 mt-4">
            <div class="text-[#d7edf8] text-center my-2">
                <div class="text-base font-lato font-[400] leading-6">Average Win</div>
                <div class="text-base font-lato font-[400] leading-6"> 456</div>
            </div>

            <div class="text-[#d7edf8] text-center my-2">
                <div class="text-base font-lato font-[400] leading-6">Average Loss</div>
                <div class="text-base font-lato font-[400] leading-6"> 456</div>
            </div>

            <div class="text-[#d7edf8] text-center my-2">
                <div class="text-base font-lato font-[400] leading-6">Max Drawdown</div>
                <div class="text-base font-lato font-[400] leading-6"> 456</div>
            </div>

            <div class="text-[#d7edf8] text-center my-2">
                <div class="text-base font-lato font-[400] leading-6">Lagest Win</div>
                <div class="text-base font-lato font-[400] leading-6"> 456</div>
            </div>

            <div class="text-[#d7edf8] text-center my-2">
                <div class="text-base font-lato font-[400] leading-6">Lagest Loss</div>
                <div class="text-base font-lato font-[400] leading-6"> 456</div>
            </div>

            <div class="text-[#d7edf8] text-center my-2">
                <div class="text-base font-lato font-[400] leading-6">P/L Standard Deviation</div>
                <div class="text-base font-lato font-[400] leading-6"> 456</div>
            </div>

            <div class="text-[#d7edf8] text-center my-2">
                <div class="text-base font-lato font-[400] leading-6">Win/Loss Ratio</div>
                <div class="text-base font-lato font-[400] leading-6"> 456</div>
            </div>

            <div class="text-[#d7edf8] text-center my-2">
                <div class="text-base font-lato font-[400] leading-6">Avg. Return Per Trade</div>
                <div class="text-base font-lato font-[400] leading-6"> 456</div>
            </div>

            <div class="text-[#d7edf8] text-center my-2">
                <div class="text-base font-lato font-[400] leading-6">Max Consecutive Win</div>
                <div class="text-base font-lato font-[400] leading-6"> 456</div>
            </div>

            <div class="text-[#d7edf8] text-center my-2">
                <div class="text-base font-lato font-[400] leading-6">MAx Consecutive Loss</div>
                <div class="text-base font-lato font-[400] leading-6"> 456</div>
            </div>

        </div>
    </div>

    <div class="bg-white flex-cols md:flex my-4 rounded-md p-5">
        <div class="w-full md:w-[40%]">
            <div class="text-deep-blue font-lato font-[500] text-xl md:text-[16px]"> Trade Performance</div>
            <div class="h-36">
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, quo nostrum! Accusantium, ratione animi eveniet dicta omnis nobis quas amet. </p>
            </div>
        </div>

        <div class="w-full md:w-[60%]">
            <div class="text-deep-blue font-lato font-[500] text-xl md:text-[16px]"> Trade Performance</div>
            <div class="h-36">
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, quo nostrum! Accusantium, ratione animi eveniet dicta omnis nobis quas amet. </p>
            </div>
        </div>
    </div>
    <div class="bg-white flex-cols md:flex my-4 rounded-md p-5">
        <div class="w-full md:w-[40%]">
            <div class="text-deep-blue font-lato font-[500] text-xl md:text-[16px]"> Equity Curve</div>
            <div class="h-36">
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, quo nostrum! Accusantium, ratione animi eveniet dicta omnis nobis quas amet. </p>
            </div>
        </div>

        <div class="w-full md:w-[60%]">
            <div class="text-deep-blue font-lato font-[500] text-xl md:text-[16px]"> Strategy Performance</div>
            <div class="h-36">
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, quo nostrum! Accusantium, ratione animi eveniet dicta omnis nobis quas amet. </p>
            </div>
        </div>
    </div>

    <div class="bg-white flex-cols md:flex my-4 rounded-md p-5">
        <div class="w-full md:w-[60%]">
            <div class="text-deep-blue font-lato font-[500] text-xl md:text-[16px]"> Trade Volume Per Currency Pair</div>
            <div class="h-36">
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, quo nostrum! Accusantium, ratione animi eveniet dicta omnis nobis quas amet. </p>
            </div>
        </div>

        <div class="w-full md:w-[40%]">
            <div class="text-deep-blue font-lato font-[500] text-xl md:text-[16px]"> Total P&L by Currency Pair</div>
            <div class="h-36">
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, quo nostrum! Accusantium, ratione animi eveniet dicta omnis nobis quas amet. </p>
            </div>
        </div>
    </div>

    <div class="bg-white flex-cols md:flex my-4 rounded-md p-5">
        <div class="w-full md:w-[40%]">
            <div class="text-deep-blue font-lato font-[500] text-xl md:text-[16px]"> Trade Shorts/Longs </div>
            <div class="h-36">
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, quo nostrum! Accusantium, ratione animi eveniet dicta omnis nobis quas amet. </p>
            </div>
        </div>

        <div class="w-full md:w-[60%]">
            <div class="text-deep-blue font-lato font-[500] text-xl md:text-[16px]"> Current Drawdown </div>
            <div class="h-36">
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, quo nostrum! Accusantium, ratione animi eveniet dicta omnis nobis quas amet. </p>
            </div>
        </div>
    </div>

    <div class="bg-white flex-cols md:flex my-4 rounded-md p-5">
        <div class="text-deep-blue font-lato font-[500] text-xl md:text-[16px]"> Trade Per Trading Sessions </div>

    </div>
</div>
