<app-client-header></app-client-header>
<app-hero text="fx journal contact"></app-hero>
<div class="lg:mx-16 mt-[-3rem] bg-white flex ">
    <div class="hidden lg:block bg-support w-1/2 bg-no-repeat bg-cover bg-center">
        
    </div>
    <div class=" px-5 py-4 lg:px-12 lg:py-12">
        <h1 class="font-rubik text-xl font-bold lg:text-4xl uppercase tracking-widest"> Got a question? </h1>
        <div class="lg:my-12">
            <div class="flex space-x-4 my-3">
                <div> <img src="assets/images/done.svg" alt="done"></div>
                <p class="font-lato font-medium ">Customer service available 24/7 Monday to Sunday</p>
            </div>
            <div class="flex space-x-4 my-3">
                <div> <img src="assets/images/done.svg" alt="done"></div>
                <p class="font-lato font-medium ">High priority immediate response</p>
            </div>
            <div class="flex space-x-4 my-3">
                <div> <img src="assets/images/done.svg" alt="done"></div>
                <p class="font-lato font-medium ">The fastest way to get in touch with Customer Support</p>
            </div>

            <div class="mt-8">
                <button class="bg-[#6fdcff] px-8 py-4 uppercase text-white font-rubik font-bold rounded"> start livechat! </button>
            </div>
        </div>
    </div>
</div>
<div class="bg-white py-4 lg:px-16 lg:py-16 flex flex-col lg:flex-row w-full" >
    <div class=" px-5 w-full lg:w-1/2 lg:px-8">
        <h1 class="font-rubik font-bold text-xl md:text-2xl uppercase tracking-widest">office hours </h1>
        <div class="mt-4 md:mt-12 w-full">
            <div class="flex space-x-4">
                <div class="border-b-2 border-[#00c94c]  lg:px-2 font-lato font-bold py-1"> Mon</div>
                <div class="border-b-2 border-[#00c94c]  lg:px-2 font-lato font-bold py-1"> Tue</div>
                <div class="border-b-2 border-[#00c94c]  lg:px-2 font-lato font-bold py-1"> Wed</div>
                <div class="border-b-2 border-[#00c94c]  lg:px-2 font-lato font-bold py-1"> Thur</div>
                <div class="border-b-2 border-[#00c94c]  lg:px-2 font-lato font-bold py-1"> Fri</div>
                <div class="border-b-2 border-[#dc411d]  lg:px-2 font-lato font-bold py-1"> Sat</div>
                <div class="border-b-2 border-[#dc411d]  lg:px-2 font-lato font-bold py-1"> Sun</div>
            </div>
        </div>
        <div class="flex justify-between border-b-2 pt-4 pb-1">
            <p class="font-lato font-bold text-[14px] lg:text-[18px] tracking-wider"> Customer Care Dept.</p>
            <p class="font-lato font-medium text-[16px] tracking-wider"> 00:00 - 24:00 (EET)</p>
        </div>
        <div class="flex justify-between border-b-2 pt-4 pb-1 mt-1">
            <p class="font-lato font-bold text-[14px] lg:text-[18px] tracking-wider"> Finance Dept.</p>
            <p class="font-lato font-medium text-[16px] tracking-wider"> 00:00 - 24:00 (EET)</p>
        </div>
        <div class="flex justify-between border-b-2 pt-4 pb-1 mt-1">
            <p class="font-lato font-bold text-[14px] lg:text-[18px] tracking-wider"> KYC Department.</p>
            <p class="font-lato font-medium text-[16px] tracking-wider"> 00:00 - 24:00 (EET)</p>
        </div>
    </div>
    <div class=" w-full pt-4 px-5 my-4 md:my-0 lg:w-1/2 lg:px-8">
        <h1 class="font-rubik font-bold text-xl md:text-2xl uppercase tracking-widest">CORRESPONDENCE ADDRESS: </h1>
        <p class="font-lato font-bold text-[16px] my-2"> Suite 305, Griffith Corporate Centre, Beachmont, Kingstown, St. Vincent and the Grenadines </p>
    </div>
</div>
<div class=" mx-5 lg:mx-12 bg-white my-8">
    <h1 class="font-rubik md:font-bold text-xl md:text-2xl uppercase tracking-widest">Email us</h1>
    <div class="flex flex-col  mt-2 lg:flex-row">
        <div class="w-full lg:w-1/2">
            <div class="lg:pr-12">
                <label for="" class="font-rubik text-gray-shade-three text-[12px]  my-2 uppercase block"> Name </label>
                <input type="text" class="border py-3 px-4 border-black w-full">
            </div>
            <div class="lg:pr-12 mt-8">
                <label for="" class="font-rubik text-gray-shade-three text-[12px]  my-2 uppercase block"> Email </label>
                <input type="text" class="border py-3 px-4 border-black w-full">
            </div>
            <div class="lg:pr-12 mt-8">
                <label for="" class="font-rubik text-gray-shade-three text-[12px]  my-2 uppercase block"> Your Account </label>
                <input type="text" class="border py-3 px-4 border-black w-full">
            </div>
        </div>
        <div class=" w-full lg:w-1/2">
            <div class="lg:pr-12">
                <label for="" class="font-rubik text-gray-shade-three text-[12px]  my-2 uppercase block"> choose the department </label>
                <select name="" id="" class="border py-3 px-4 border-black w-full">
                    <option class="font-rubik text-gray-shade-three text-[12px]  my-2 uppercase block" value="">Marketing</option>
                    <option class="" value="">Finance</option>
                </select>
            </div>
            <div class="lg:pr-12 mt-8">
                <label for="" class="font-rubik text-gray-shade-three text-[12px]  my-2 uppercase block"> Message </label>
               <textarea name="" id="" cols="30" rows="10" class="border py-3 px-4 border-black w-full"></textarea>
            </div>

            <div class="mt-4">
                <button class="border-blue border-2 px-16 hover:bg-gray-shade-two py-2 text-[14px] font-lato font-bold"> Submit </button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>