<div class="w-full md:bg-deep-blue py-12 h-screen">
    <div class="bg-white w-full lg:w-[500px] z-[1000000000000] mx-auto shadow-blue shadow-md p-12 rounded-xl">
        <div class="flex justify-between items-center">
             <h1 class="font-rubik font-bold text-xl text-blue-shade-one"> Password Reset</h1>
             <!-- <div class="cursor-pointer" (click)="closeLoginModal()">
                 <img src="assets/images/close.svg" class=" w-8" alt="">
             </div> -->
        </div>
        <div class="my-8">
             <form [formGroup]="passForm" (ngSubmit)="forgotPass(passForm.value)">
                 <div>
                    <label for="" class="text-gray-shade-three block my-1"> Enter your email address to recieve your password</label>
                     <input formControlName="email" type="email" placeholder="Email" class="px-4 py-4 rounded-lg tracking-wider focus:border-blue-shade-one border-2 placeholder:font-lato font-lato font-bold text-black w-full">
                     <span class="text-[red] text-[12px]" *ngIf="passForm.get('email')?.invalid && passForm.get('email')?.touched">
                        Email is required
                    </span>
                    <span class="text-[red] text-[12px]" *ngIf="passForm.get('email')?.errors?.['email'] && passForm.get('email')?.touched">
                        Invalid email address
                    </span>
                 </div>
                 <div class="mt-12">
                     <button type="submit"  [disabled]="passForm.invalid" class="btn btn-active btn-primary w-full mt-4" > Proceed </button>           
                 </div>
            </form>
        </div>
     </div>
</div>

