<div class="p-5 md:p-12">
    <div>
        <p class="w-full  font-fira bg-deep-blue uppercase text-white rounded shadow-sm py-1 px-8 shadow-[white]"> Add to your watchlist</p>
    </div>
    <div class="w-full my-4">
        <form [formGroup]="watchlistForm" (ngSubmit)="createWatchlist(watchlistForm.value)">
            <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row w-full md:space-x-12">
                <div class="w-full md:w-1/2">
                    <label for="" class="font-fira font-medium tracking-wide mb-2 block"> Currency Pair</label>
                    <input type="text" formControlName="currency_pair" placeholder="Currency Pair" class="input w-full focus:border-0 text-[14px] input-bordered input-primary" />
                    <span *ngIf="watchlistForm.get('currency_pair')?.errors?.['required'] && watchlistForm.get('currency_pair')?.touched" class="text-[red] text-[14px]" > Currency Pair is requred</span>
                </div>
                <div class="w-full md:w-1/2">
                    <label for="" class="font-fira font-medium tracking-wide mb-2 block"> Strategy </label>
                    <select class="select select-primary w-full " formControlName="strategy">
                        <option disabled selected> Select Position Type </option>
                        <option value="{{strategy._id}}" *ngFor="let strategy of strategies">{{strategy.strategy_name}}</option>
                    </select>  
                    <span *ngIf="watchlistForm.get('strategy')?.errors?.['required'] && watchlistForm.get('strategy')?.touched" class="text-[red] text-[14px]" > This field is required</span>
                </div>
            </div>

            <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row w-full md:space-x-12 mt-4">
                <div class="w-full md:w-1/2">
                    <label for="" class="font-fira font-medium tracking-wide mb-2 block"> Time Frame </label>
                    <select formControlName="timeframe" class="select select-primary w-full">
                        <option disabled selected> Select Option </option>
                        <option value="{{timeframe}}" *ngFor="let timeframe of timeframes">{{timeframe}}</option>
                        
                    </select>
                    <span *ngIf="watchlistForm.get('timeframe')?.errors?.['required'] && watchlistForm.get('timeframe')?.touched" class="text-[red] text-[14px]" > This field is required</span>              
                </div>
                <div class="w-full md:w-1/2">
                    <label for="" class="font-fira font-medium tracking-wide mb-2 block"> Market Condition </label>
                    <select formControlName="market_condition" class="select select-primary w-full">
                        <option disabled selected> Select Option </option>
                        <option value="{{condition}}" *ngFor="let condition of marketConditions">{{condition}}</option>
                    </select>
                    <span *ngIf="watchlistForm.get('market_condition')?.errors?.['required'] && watchlistForm.get('market_condition')?.touched" class="text-[red] text-[14px]" > This field is required</span>              
  
                </div>
            </div>

            <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row w-full md:space-x-12 mt-4">
                <div class="w-full md:w-1/2">
                    <label for="" class="font-fira font-medium tracking-wide mb-2 block"> High </label>
                    <input type="number" formControlName="high" placeholder="High" class="input w-full focus:border-0 text-[14px] input-bordered input-primary" />
                    <span *ngIf="watchlistForm.get('high')?.errors?.['required'] && watchlistForm.get('high')?.touched" class="text-[red] text-[14px]" > This field is required</span>
                </div>
                <div class="w-full md:w-1/2">
                    <label for="" class="font-fira font-medium tracking-wide mb-2 block"> Low </label>
                    <input type="number" formControlName="low" placeholder="Low" class="input  focus:border-0 text-[14px] input-bordered input-primary w-full" />
                    <span *ngIf="watchlistForm.get('low')?.errors?.['required'] && watchlistForm.get('low')?.touched" class="text-[red] text-[14px]" > This field is required</span>

                </div>
            </div>

            <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row w-full md:space-x-12 mt-4">
                <div class="w-full md:w-1/2">
                    <label for="" class="font-fira font-medium tracking-wide mb-2 block"> Entry Price </label>
                    <input type="number" formControlName="entry_price" placeholder="Entry Price" class="input w-full focus:border-0 text-[14px] input-bordered input-primary" />
                    <span *ngIf="watchlistForm.get('entry_price')?.errors?.['required'] && watchlistForm.get('entry_price')?.touched" class="text-[red] text-[14px]" > This field is required</span>

                </div>
                <div class="w-full md:w-1/2">
                    <label for="" class="font-fira font-medium tracking-wide mb-2 block"> Market Description </label>
                    <textarea formControlName="description" class="textarea textarea-primary w-full focus:border-0" placeholder="Reason For Entry"></textarea>               
                    <span *ngIf="watchlistForm.get('description')?.errors?.['required'] && watchlistForm.get('description')?.touched" class="text-[red] text-[14px]" > This field is required</span>

                </div>
            </div>

            <div class="mt-12">
                <button type="submit" [disabled]="watchlistForm.invalid" class="btn btn-active btn-primary px-16 hover:bg-deep-blue"> Submit  </button>
            </div>

        </form>
    </div>
</div>
