<div class="lg:p-12">
    <div class="px-2 lg:px-8">
        <div class=" flex justify-end my-2 mt-8">
            <button class="btn btn-active btn-primary"> Subcribe to get daily analysis  <i class="fa fa-plus text-2xl ml-2" aria-hidden="true"></i></button>
        </div>
        <div class=" hidden lg:grid grid-cols-5 space-x-8 items-end">
            <div class="my-2">
                <select class="select select-primary w-full max-w-xs">
                    <option disabled selected> Filter By</option>
                    <option>Currency Pair</option>
                    <option>Lost</option>
                    <option>Profit</option>
                    <option>Date</option>
                    <option>Lots size</option>
                </select>
            </div>
            <div class="my-2">
                <input type="text" placeholder="Search..." class="input input-bordered input-primary w-full max-w-xs" />
            </div>
            <div class="my-2">
                <label class="label">
                    <span class="label-text font-bold">Start Date</span>
                  </label>
                <input type="date" placeholder="Type here" class="input input-bordered input-primary w-full max-w-xs" />
            </div>
            <div class="my-2">
                <label class="label">
                    <span class="label-text font-bold">End Date</span>
                  </label>
                <input type="date" placeholder="Type here" class="input input-bordered input-primary w-full max-w-xs" />
            </div>
           
        </div>
    </div>
    
    
    <div class="mx-1  py-3 my-4  rounded-xl  bg-white">
        <h1 class="text-center fonr-rubik font-medium text-gray text-xl tracking-widest"> Volatility 75 Short Trade</h1>
        <div class="flex flex-col-reverse lg:flex-row bg-gray-shade-two ">
            <div class="w-full lg:w-[30%] px-8 lg:h-[150px] py-4 bg-white  rounded-bl-xl shadow-lg">
                <div class="flex space-x-5">
                    <p class="font-fira font-medium text-[16px] tracking-wider text-[#5d656f]"> Currency Pair :</p>
                    <p class="font-fira font-bold text-[16px] tracking-wider text-deep-blue"> Volatility 75</p>
                </div>
                <div class="flex space-x-5">
                    <p class="font-fira font-medium text-[16px] tracking-wider text-[#5d656f]"> Position :</p>
                    <p class="font-fira font-bold text-[16px] tracking-wider text-deep-blue"> Short</p>
                </div>
                <div class="flex space-x-5">
                    <p class="font-fira font-medium text-[16px] tracking-wider text-[#5d656f]"> Entry :</p>
                    <p class="font-fira font-bold text-[16px] tracking-wider text-deep-blue"> 1.234567</p>
                </div>
                <div class="flex space-x-5">
                    <p class="font-fira font-medium text-[16px] tracking-wider text-[#5d656f]"> Stop Loss:</p>
                    <p class="font-fira font-bold text-[16px] tracking-wider text-deep-blue"> 1.234567</p>
                </div>
                <div class="flex space-x-5">
                    <p class="font-fira font-medium text-[16px] tracking-wider text-[#5d656f]"> Take Profit :</p>
                    <p class="font-fira font-bold text-[16px] tracking-wider text-deep-blue"> 1.234567</p>
                </div>
            </div>
            <div class="w-full lg:w-[70%]">
                <img src="assets/analysis/analysis1.png" class="w-full" alt="">
            </div>
        </div>
    </div>
    <div class="mx-1  py-3 my-4  rounded-xl  bg-white">
        <h1 class="text-center fonr-rubik font-medium text-gray text-xl tracking-widest"> Volatility 75 Short Trade</h1>
        <div class="flex flex-col-reverse lg:flex-row bg-gray-shade-two ">
            <div class="w-full lg:w-[30%] px-8 lg:h-[150px] py-4 bg-white  rounded-bl-xl shadow-lg">
                <div class="flex space-x-5">
                    <p class="font-fira font-medium text-[16px] tracking-wider text-[#5d656f]"> Currency Pair :</p>
                    <p class="font-fira font-bold text-[16px] tracking-wider text-deep-blue"> Volatility 75</p>
                </div>
                <div class="flex space-x-5">
                    <p class="font-fira font-medium text-[16px] tracking-wider text-[#5d656f]"> Position :</p>
                    <p class="font-fira font-bold text-[16px] tracking-wider text-deep-blue"> Short</p>
                </div>
                <div class="flex space-x-5">
                    <p class="font-fira font-medium text-[16px] tracking-wider text-[#5d656f]"> Entry :</p>
                    <p class="font-fira font-bold text-[16px] tracking-wider text-deep-blue"> 1.234567</p>
                </div>
                <div class="flex space-x-5">
                    <p class="font-fira font-medium text-[16px] tracking-wider text-[#5d656f]"> Stop Loss:</p>
                    <p class="font-fira font-bold text-[16px] tracking-wider text-deep-blue"> 1.234567</p>
                </div>
                <div class="flex space-x-5">
                    <p class="font-fira font-medium text-[16px] tracking-wider text-[#5d656f]"> Take Profit :</p>
                    <p class="font-fira font-bold text-[16px] tracking-wider text-deep-blue"> 1.234567</p>
                </div>
            </div>
            <div class="w-full lg:w-[70%]">
                <img src="assets/analysis/analysis1.png" class="w-full" alt="">
            </div>
        </div>
    </div>
    
    <div class="mx-1  py-3 my-4  rounded-xl  bg-white">
        <h1 class="text-center fonr-rubik font-medium text-gray text-xl tracking-widest"> Volatility 75 Short Trade</h1>
        <div class="flex flex-col-reverse lg:flex-row bg-gray-shade-two ">
            <div class="w-full lg:w-[30%] px-8 lg:h-[150px] py-4 bg-white  rounded-bl-xl shadow-lg">
                <div class="flex space-x-5">
                    <p class="font-fira font-medium text-[16px] tracking-wider text-[#5d656f]"> Currency Pair :</p>
                    <p class="font-fira font-bold text-[16px] tracking-wider text-deep-blue"> Volatility 75</p>
                </div>
                <div class="flex space-x-5">
                    <p class="font-fira font-medium text-[16px] tracking-wider text-[#5d656f]"> Position :</p>
                    <p class="font-fira font-bold text-[16px] tracking-wider text-deep-blue"> Short</p>
                </div>
                <div class="flex space-x-5">
                    <p class="font-fira font-medium text-[16px] tracking-wider text-[#5d656f]"> Entry :</p>
                    <p class="font-fira font-bold text-[16px] tracking-wider text-deep-blue"> 1.234567</p>
                </div>
                <div class="flex space-x-5">
                    <p class="font-fira font-medium text-[16px] tracking-wider text-[#5d656f]"> Stop Loss:</p>
                    <p class="font-fira font-bold text-[16px] tracking-wider text-deep-blue"> 1.234567</p>
                </div>
                <div class="flex space-x-5">
                    <p class="font-fira font-medium text-[16px] tracking-wider text-[#5d656f]"> Take Profit :</p>
                    <p class="font-fira font-bold text-[16px] tracking-wider text-deep-blue"> 1.234567</p>
                </div>
            </div>
            <div class="w-full lg:w-[70%]">
                <img src="assets/analysis/analysis1.png" class="w-full" alt="">
            </div>
        </div>
    </div>
</div>



