<app-client-header></app-client-header>
<app-hero text="forex news"></app-hero>
<!--  News Section start here  -->
<section class=" mt-[-5rem] py-8 lg:mt-[-2rem] mx-2 lg:mx-16 bg-white first:mt-4 lg:px-16 lg:py-16 shadow-blue shadow-md">
    <div class=" border-b-2 px-4 pb-4 mt-4" routerLink="/read-news">
        <p class="font-rubik font-medium text-[14px] tracking-widest uppercase"> 2 Minutes Ago </p>
        <h1 class="font-lato font-bold lg:text-2xl text-[1rem]  tracking-widest cursor-pointer"> AUD/USD: Australia/US terms of trade still supporting the aussie – SocGen</h1>
        <p class="font-rubik font-medium text-[14px] lg:text-[16px] mt-8"> The Australian dollar is Thursday’s top currency. Kit Juckes, Chief Global FX Strategist at Société Générale, expects the aussie to strengthen as Aust </p>
        <div class="font-lato font-bold tracking-widest uppercase flex space-x-4 items-center mt-12 hover:text-blue-shade-one cursor-pointer">
            <p> Read more</p>
            <img src="assets/images/read-more.svg" alt="">
        </div>
    </div>

    <div class=" border-b-2 px-4 pb-4 mt-16">
        <p class="font-rubik font-medium text-[14px] tracking-widest uppercase"> 6 Minutes Ago </p>
        <h1 class="font-lato font-bold text-[1rem] lg:text-2xl tracking-widest cursor-pointer"> EUR/JPY Price Analysis: The 200-day SMA holds the downside so far</h1>
        <p class="font-rubik font-medium text-[14px] lg:text-[16px] mt-8"> EUR/JPY fades Wednesday’s downtick and resumes the downside amidst the prevailing erratic performance so far this week. Extra weakness now appears in </p>
        <div class="font-lato font-bold tracking-widest uppercase flex space-x-4 items-center mt-12 hover:text-blue-shade-one cursor-pointer">
            <p> Read more</p>
            <img src="assets/images/read-more.svg" alt="">
        </div>
    </div>

    <div class=" border-b-2 px-4 pb-4 mt-16">
        <p class="font-rubik font-medium text-[14px] tracking-widest uppercase"> 10 Minutes Ago </p>
        <h1 class="font-lato font-bold text-[1rem] lg:text-2xl tracking-widest cursor-pointer"> USD/JPY to target July 14 high near 139.40 as BoJ officials remain dovish – BBH</h1>
        <p class="font-rubik font-medium text-[14px] lg:text-[16px] mt-8"> USD/JPY is trading around 136.50 after it was unable to break above 138 earlier this week. Still, economists at BBH expect the pair to eventually test </p>
        <div class="font-lato font-bold tracking-widest uppercase flex space-x-4 items-center mt-12 hover:text-blue-shade-one cursor-pointer">
            <p> Read more</p>
            <img src="assets/images/read-more.svg" alt="">
        </div>
    </div>

    <div class=" border-b-2 px-4 pb-4 mt-16">
        <p class="font-rubik font-medium text-[14px] tracking-widest uppercase"> 50 minutes Ago </p>
        <h1 class="font-lato font-bold text-[1rem] lg:text-2xl tracking-widest cursor-pointer"> Mexico Gross Domestic Product (QoQ) meets expectations (0.9%) in 2Q</h1>
        <p class="font-rubik font-medium text-[14px] lg:text-[16px] mt-8">Mexico Gross Domestic Product (QoQ) meets expectations (0.9%) in 2Q </p>
        <div class="font-lato font-bold tracking-widest uppercase flex space-x-4 items-center mt-12 hover:text-blue-shade-one cursor-pointer">
            <p> Read more</p>
            <img src="assets/images/read-more.svg" alt="">
        </div>
    </div>

    <div class=" border-b-2 px-4 pb-4 mt-16">
        <p class="font-rubik font-medium text-[14px] tracking-widest uppercase"> 56 Minutes Ago </p>
        <h1 class="font-lato font-bold text-[1rem] lg:text-2xl tracking-widest cursor-pointer"> When is the Preliminary US GDP report and how could it affect EUR/USD?</h1>
        <p class="font-rubik font-medium text-[14px] lg:text-[16px] mt-8"> Thursday's US economic docket highlights the release of the Preliminary GDP print for the second quarter, scheduled at 12:30 GMT. The first revision i </p>
        <div class="font-lato font-bold tracking-widest uppercase flex space-x-4 items-center mt-12 hover:text-blue-shade-one cursor-pointer">
            <p> Read more</p>
            <img src="assets/images/read-more.svg" alt="">
        </div>
    </div>

    <div class="w-full mt-8">
        <p class="text-center w-full px-8 py-4 bg-gray-shade-two cursor-pointer uppercase font-lato font-bold">load more > > > </p>
    </div>
</section>
<app-footer></app-footer>