<div class="lg:p-12 p-2" *ngIf="isEmpty">
    <div class=" flex justify-end my-2">
        <button class="btn btn-active btn-primary" routerLink="/client-dashboard/create-watchlist">Add to watchlist  <i class="fa fa-plus text-2xl ml-2" aria-hidden="true"></i></button>
    </div>
    <div class="hidden lg:grid grid-cols-5 space-x-8 items-end">
        <div class="my-2">
            <select class="select select-primary w-full max-w-xs">
                <option disabled selected> Filter By</option>
                <option>Currency Pair</option>
                <option>Lost</option>
                <option>Profit</option>
                <option>Date</option>
                <option>Lots size</option>
            </select>
        </div>
        <div class="my-2">
            <input type="text" placeholder="Search..." class="input input-bordered input-primary w-full max-w-xs" />
        </div>
        <div class="my-2">
            <label class="label">
                <span class="label-text font-bold">Start Date</span>
              </label>
            <input type="date" placeholder="Type here" class="input input-bordered input-primary w-full max-w-xs" />
        </div>
        <div class="my-2">
            <label class="label">
                <span class="label-text font-bold">End Date</span>
              </label>
            <input type="date" placeholder="Type here" class="input input-bordered input-primary w-full max-w-xs" />
        </div>
        <div class="my-2 flex justify-end">
            <button class="btn btn-active">Export</button>
        </div>
    </div>
    
    <div  class="w-full overflow-scroll bg-white rounded">
        <table class="border-2 font-fira text-[14px] rounded-xl font-normal tracking-wide" id="trade">
            <thead>
                <tr class="border-1" >
                    <th> No </th>
                    <th> Curreny Pair </th>
                    <th> Strategy </th>
                    <th> Time Frame  </th>
                    <th> Entry Price </th>
                    <th> High</th>
                    <th> Low </th>
                    <th> Market Condition</th>
                    <th> Description</th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" *ngFor="let watchlist of watchlists index as i">
                    <td> {{ i + 1 }} </td>
                    <td class="uppercase"> {{watchlist?.currency_pair | uppercase}} </td>
                    <td> {{watchlist?.strategy}} </td>
                    <td> {{watchlist?.timeframe}} </td>
                    <td> {{watchlist?.entry_price}} </td>
                    <td> {{watchlist?.high}} </td>
                    <td> {{watchlist?.low}}</td>
                    <td> {{watchlist?.market_condition}} </td>
                    <td> {{watchlist?.description}} </td>
                    <td> Remove </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<ng-container *ngIf="!isEmpty">
    <app-no-data displayText="Your Watchlist is empty" (btnEvent)="navigate()" btnText="Add to watchlist"></app-no-data>
</ng-container>