<app-client-header></app-client-header>
<div class="w-full bg-deep-blue px-4 py-12 h-screen">
    <div class="bg-white w-full lg:w-[500px] p-5 z-[1] mx-auto shadow-blue shadow-md md:p-12 rounded-xl">
        <div class="flex justify-between items-center">
             <h1 class="font-rubik font-bold text-xl text-blue-shade-one"> Change Password</h1>
             <!-- <div class="cursor-pointer" (click)="closeLoginModal()">
                 <img src="assets/images/close.svg" class=" w-8" alt="">
             </div> -->
        </div>
        <div class="my-8">
             <form [formGroup]="formGroup" >
                 <div class="relative">
                     <input type="{{inputType}}" formControlName="password" required placeholder="New Password" class="px-4 py-4 rounded-lg tracking-wider focus:border-blue-shade-one border-2 placeholder:font-lato font-lato font-bold text-black w-full">
                     <span class="text-[red] text-[12px] " *ngIf="formGroup.get('password')?.invalid && formGroup.get('password')?.touched">
                        Password is reqired
                     </span>
                     <p class="absolute top-4 right-3 cursor-pointer" (click)="showUserpassord('p')"> <i class="fa {{passwordIcon}}"></i> </p>
                 </div>
                 <div class="mt-4 relative">
                     <input formControlName="confirmPassword" type="{{CinputType}}" required placeholder="Confirm Password" class="px-4 py-4 rounded-lg tracking-wider focus:border-blue-shade-one border-2 placeholder:font-lato font-lato font-bold text-black w-full">
                     <p class="absolute top-4 right-3" (click)="showUserpassord('c')"> <i class="fa  {{CpasswordIcon}}"></i> </p>
                     <span class="text-[red] text-[12px]" *ngIf="formGroup.errors?.['require']">
                        Confrim password is required
                     </span>
                     <span class="text-[red] text-[12px]" *ngIf="formGroup.errors?.['misMatch']">
                        Password not match
                     </span>
                 </div>
                 <div class="mt-12">
                     <button type="submit" [disabled]="formGroup.invalid" class="btn btn-active btn-primary w-full mt-4" > Proceed </button>           
                 </div>
                </form>
        </div>
     </div>
</div>
<app-footer></app-footer>