<div class="w-full md:bg-deep-blue py-12 h-screen">
    <div class="bg-white w-full lg:w-[500px] z-[1000000000000] mx-auto shadow-blue shadow-md p-12 rounded-xl">
        <div class="flex justify-between items-center">
             <h1 class="font-rubik font-bold text-xl text-blue-shade-one"> Change Password</h1>
             <!-- <div class="cursor-pointer" (click)="closeLoginModal()">
                 <img src="assets/images/close.svg" class=" w-8" alt="">
             </div> -->
        </div>
        <div class="my-8">
             <div >
                 <div class="relative">
                     <input type="{{inputType}}" placeholder="New Password" class="px-4 py-4 rounded-lg tracking-wider focus:border-blue-shade-one border-2 placeholder:font-lato font-lato font-bold text-black w-full">
                     <span class="text-[red] text-[12px]">
                        Password is reqired
                     </span>
                     <p class="absolute top-4 right-3 cursor-pointer" (click)="showUserpassord()"> <i class="fa {{passwordIcon}}"></i> </p>
                 </div>
                 <div class="mt-4 relative">
                     <input type="password" placeholder="Confirm Password" class="px-4 py-4 rounded-lg tracking-wider focus:border-blue-shade-one border-2 placeholder:font-lato font-lato font-bold text-black w-full">
                     <p class="absolute top-4 right-3"> <i class="fa fa-eye"></i> </p>
                     <span class="text-[red] text-[12px]">
                        Confrim password is required
                     </span>
                     <span class="text-[red] text-[12px]">
                        Password not match
                     </span>
                 </div>
                 <div class="mt-12">
                     <button class="btn btn-active btn-primary w-full mt-4" > Proceed </button>           
                 </div>
             </div>
        </div>
     </div>
</div>

