<app-client-header></app-client-header>
<app-hero text="fx journal calculator"></app-hero>
<section class="mt-[-6rem] bg-transparent mx-16 py-4">
    <div class="flex space-x-4 mb-3">
        <div class="font-rubik font-bold text-white text-[14px] tracking-widest uppercase cursor-pointer hover:text-black"> pip calculator</div>
        <div class="font-rubik font-bold text-white text-[14px] tracking-widest uppercase cursor-pointer"> pip calculator</div>
        <div class="font-rubik font-bold text-white text-[14px] tracking-widest uppercase cursor-pointer"> pip calculator</div>
    </div>
    <div class="bg-white h-32 w-full">

    </div>
</section>
<app-footer></app-footer>
