<app-client-header></app-client-header>
<app-hero text="forex news"></app-hero>
<!--  News Section start here  -->
<section class=" mt-[-5rem] py-8 lg:mt-[-2rem] mx-2 lg:mx-16 px-2 shadow-md shadow-blue bg-white first:mt-4 lg:px-16 lg:py-16">
    <p class="font-rubik font-medium text-[16px] tracking-widest uppercase"> 2 Minutes Ago </p>
    <h1 class="font-lato font-bold mt-8 lg:text-2xl text-[1rem]  tracking-widest cursor-pointer"> AUD/USD: Australia/US terms of trade still supporting the aussie – SocGen</h1>
    <p class="font-fira font-bold mt-4 text-[14px] tracking-widest">
        AUD/USD gains positive traction and reverses a part of the overnight slide to a multi-week low.
        The USD moves away from a two-decade high and turns out to be a key factor lending support.
        Aggressive Fed rate hike bets to limit the USD losses and cap the pair ahead of the NFP report.
    </p>

    <p class="font-fira font-medium text-[16px] tracking-wider mt-4"> The AUD/USD pair attracts some buying on Friday and recovers a part of the previous day's losses to the 0.6770 area, or the lowest level since July 18. The pair builds on its steady intraday ascent and moves back above the 0.6800 mark, hitting a fresh daily high during the first half of the European session.
    </p>

    <p class="font-fira font-medium text-[16px] tracking-wider mt-4"> The US dollar edges lower and retreats further from a two-decade high touched on Thursday, which, in turn, offers some support to the AUD/USD pair. A softer tone surrounding the US Treasury bond yields keeps the USD bulls on the defensive amid some repositioning trade ahead of the US monthly jobs data. Apart from this, signs of stability in the financial markets further undermine the safe-haven buck and benefit the risk-sensitive aussie.
    </p>

    <p class="font-fira font-medium text-[16px] tracking-wider mt-4"> It is worth mentioning that the markets are pricing in a supersized 75 bps rate hike at the September FOMC meeting and the bets were reaffirmed by the recent hawkish remarks by several Fed officials. Traders now look to the US NFP report, which will provide a fresh insight into the economy's health and influence the USD price dynamics. This, in turn, will drive the AUD/USD pair ahead of the Reserve Bank of Australia (RBA) meeting next week.
    </p>

    <div class="mt-12">
        <h1 class="font-fira font-bold text-xl lg:text-4xl uppercase"> Technical Levels to watch</h1>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 space-y-4 mt-8 border-t py-4 lg:space-x-4">
        <div class="shadow-2xl shadow-gray-shade-two p-8">
            <h1 class="font-lato font-bold lg:text-2xl text-[1rem]  tracking-widest cursor-pointer"> AUD/USD: Australia/US terms of trade still supporting the aussie – SocGen</h1>
            <p class="font-rubik font-medium text-[14px] lg:text-[16px] mt-8"> The Australian dollar is Thursday’s top currency. Kit Juckes, Chief Global FX Strategist at Société Générale, expects the aussie to strengthen as Aust </p>
            <div class="font-lato font-bold tracking-widest uppercase flex space-x-4 items-center mt-12 hover:text-blue-shade-one cursor-pointer">
                <p> Read more</p>
                <img src="assets/images/read-more.svg" alt="">
            </div>
        </div>
        <div class="shadow-2xl shadow-gray-shade-two p-8">
            <h1 class="font-lato font-bold lg:text-2xl text-[1rem]  tracking-widest cursor-pointer"> AUD/USD: Australia/US terms of trade still supporting the aussie – SocGen</h1>
            <p class="font-rubik font-medium text-[14px] lg:text-[16px] mt-8"> The Australian dollar is Thursday’s top currency. Kit Juckes, Chief Global FX Strategist at Société Générale, expects the aussie to strengthen as Aust </p>
            <div class="font-lato font-bold tracking-widest uppercase flex space-x-4 items-center mt-12 hover:text-blue-shade-one cursor-pointer">
                <p> Read more</p>
                <img src="assets/images/read-more.svg" alt="">
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
